!.*
.git
home/.config/cosmic/com.system76.cosmicSettings/v1/active-page
home/.config/nvim/lazy-lock.json
home/.config/amsynth
home/.config/audacity
home/.config/autostart
home/.config/Cardinal
home/.config/cef_user_data
home/.config/dconf
home/.config/digikamrc
home/.config/digikam_systemrc
home/.config/discord
home/.config/Electron
home/.config/expressvpn
home/.config/FreeCAD
home/.config/geeqie
home/.config/ghostty
home/.config/GIMP
home/.config/glib-2.0
home/.config/go
home/.config/google-chrome
home/.config/gtk-2.0
home/.config/gtk-3.0
home/.config/gtk-4.0
home/.config/ibus
home/.config/inkscape
home/.config/kdeglobals
home/.config/kdenlive-layoutsrc
home/.config/kdenliverc
home/.config/kminesrc
home/.config/libreoffice
home/.config/menus
home/.config/Modartt
home/.config/Mousepad
home/.config/MuseScore
home/.config/nemo
home/.config/neofetch
home/.config/obs-studio
home/.config/pavucontrol.ini
home/.config/pulse
home/.config/QtProject.conf
home/.config/ranger
home/.config/Raspberry Pi'
home/.config/RawTherapee
home/.config/REAPER
home/.config/SFZTools
home/.config/StardewValley
home/.config/Thunar
home/.config/transmission
home/.config/unity3d
home/.config/user-dirs.dirs
home/.config/user-dirs.locale
home/.config/vlc
home/.config/wal
home/.config/xournalpp
home/.config/xfce4/desktop
home/.config/yay
home/.config/yoshimi
