[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/papa/Desktop/timeline blank template.xlsx]
row=1
col=2

[/home/papa/Desktop/IMG_20220930_230349.jpg]
row=2
col=0

[/home/papa/Desktop/IMG_20220930_225745.jpg]
row=1
col=3

[/home/papa/Desktop/woodworkEarly22]
row=3
col=3

[/home/papa/Desktop/Our.Flag.Means.Death.S01.COMPLETE.720p.HMAX.WEBRip.x264-GalaxyTV[TGx]]
row=4
col=1

[/home/papa/Desktop/trig02.png]
row=4
col=2

[/home/papa/Desktop/travancore]
row=3
col=0

[/home/papa/Desktop/SUBDL.com the.square.20171724686.zip]
row=0
col=2

[/home/papa/Desktop/HannahAtOne(disk4).m4v]
row=5
col=3

[/home/papa/Desktop/dwm]
row=1
col=1

[/home/papa/Desktop/22knox]
row=3
col=1

[/home/papa/Desktop/qmk_firmware-cantor-patrick.zip]
row=3
col=2

[/home/papa/Desktop/IMG_20220930_231128.jpg]
row=0
col=0

[/home/papa/Desktop/springBootDemo.zip]
row=5
col=1

[/home/papa/Desktop/RentalDocuments2021]
row=0
col=1

[/home/papa/Desktop/qmk_firmware-beekeeb-piantor-patrick.zip]
row=2
col=2

[/home/papa/Desktop/trig01.png]
row=5
col=2

[/home/papa/Desktop/IMG_20220930_230344.jpg]
row=1
col=0

[/home/papa/Desktop/Dick Wallace]
row=0
col=3

[/home/papa/Desktop/keyboard]
row=2
col=3

[/home/papa/Desktop/iphone7battery.zip]
row=4
col=0

[/home/papa/Desktop/super-pay-tax]
row=2
col=1

[/home/papa/Desktop/71Elizabeth]
row=4
col=3

[/home/papa/Desktop/RefDocuments]
row=5
col=0

[/home/papa/Desktop/Our Flag Means Death S01 (2022- 360p re-webrip)]
row=0
col=4

