[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/papa/Desktop/migrationData]
row=5
col=1

[/home/papa/Desktop/20230128_PassportApplication_40047591156_ConsentForm.pdf]
row=8
col=1

[/home/papa/Desktop/20230128_Passport Online - Department of Foreign Affairs and Trade.pdf]
row=9
col=1

[/home/papa/Desktop/jobDocumentsLocal]
row=3
col=1

[/home/papa/Desktop/strez.jpg]
row=0
col=1

[/home/papa/Desktop/editedPics]
row=7
col=1

[/home/papa/Desktop/beekeeb_piantor_weact_vial.uf2]
row=6
col=0

[/home/papa/Desktop/NOVA Menu, The Mon 16 Jan 1805 Tickets.pdf]
row=12
col=1

[/home/papa/Desktop/dick_wallace]
row=1
col=2

[/home/papa/Desktop/ReferenceDocuments]
row=6
col=1

[/home/papa/Desktop/ItemsToSellPhotos]
row=4
col=1

[/home/papa/Desktop/CMN_2021.zip]
row=7
col=0

[/home/papa/Desktop/bills.mk]
row=10
col=0

[/home/papa/Desktop/Dick 4 November.mp3]
row=11
col=0

[/home/papa/Desktop/id_rsa.pub]
row=8
col=0

[/home/papa/Desktop/PATRICK R WALLACE COVID-19 Digital Certificate 20211022.pdf]
row=1
col=1

[/home/papa/Desktop/macdrive]
row=9
col=0

[/home/papa/Desktop/Victorian_Energy_Fact_Sheet_ALI349601MR_Gas.pdf]
row=12
col=0

[/home/papa/Desktop/PatrickWallaceResume.pdf]
row=2
col=1

[/home/papa/Desktop/20230128_Passport_Photo_Patrick.jpg]
row=10
col=1

[/home/papa/Desktop/toedit_20230128_Passport_Photo_Patrick.jpg]
row=11
col=1

[/home/papa/Desktop/ass2.backup.OAD]
row=0
col=2

[6900ed5b-714a-4904-b686-716298965179]
row=2
col=0

[c98880a5-130d-484d-9925-1ab343c8215a]
row=0
col=0

[456d92ad-c10e-4dfc-a160-b09e513e72c1]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/papa]
row=5
col=0

